<!-- <ion-header>
    <ion-navbar color="primary">
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>
        referidos
      </ion-title>
    </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-slides #signupSlider class="ion-slides-conf" (ionSlideWillChange)="slideWillChange($event, swiper)" pager>
      <ion-slide>
        <p *ngIf="!slideOneForm.valid && slideOneNext" class="error-global">Quedan campos vacios o invalidos</p>
        <ion-list no-lines>
        <ion-item class="error-global" [hidden]="globalErrorMsg === ''"><p>{{globalErrorMsg}}</p></ion-item>
        <form [formGroup]="slideOneForm">
 
            <ion-item class="data-input">
                <ion-label floating>Nombre</ion-label>
                <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid"></ion-input>
            </ion-item>
            <ion-item  class="error-input" *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || nextTapped)">
                <p>Favor ingresar un nombre valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Apellido</ion-label>
                <ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || nextTapped)" class="error-input">
                <p>Favor ingresar un apellido valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Pueblo</ion-label>
                <ion-input formControlName="pueblo" type="text" [class.invalid]="!slideOneForm.controls.pueblo.valid"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideOneForm.controls.pueblo.valid  && (slideOneForm.controls.pueblo.dirty || nextTapped)" class="error-input">
                <p>Favor ingresar una ciudad valida.</p>
            </ion-item>

            <ion-buttons class="next-prev-buttons">
                <button ion-button icon-right (click)="next(1)" class="next-swiper" type="button">Siguiente <ion-icon name="arrow-forward"></ion-icon></button>
            </ion-buttons>       
        </form>
        </ion-list>
      </ion-slide>
 
      <ion-slide>
        <ion-list no-lines>
        <ion-item class="error-global" [hidden]="globalErrorMsg === ''"><p>{{globalErrorMsg}}</p></ion-item>
        <form [formGroup]="slideTwoForm">

            <ion-item class="data-input">
                <ion-label ion-text color="dark" floating>Día(s) de llamada</ion-label>  

                <ion-select formControlName="callDay" color="dark" multiple="true" [selectOptions]="selectOptions"  [class.invalid]="!slideTwoForm.controls.callDay.valid">
                    <ion-option *ngFor="let day of callDays" value="{{day}}">{{day}}</ion-option>
                </ion-select>
            </ion-item>
            
            <ion-item-group class="datetime-item-group">                  
                    <ion-label>Horario disponible para llamadas:</ion-label>
                    <ion-item class="datetime-item">
                        <ion-label ion-text color="dark" floating>De:</ion-label>                        
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [pickerOptions]="pickerOpts" formControlName="deHora" type="text" color="secondary"  [class.invalid]="!slideTwoForm.controls.deHora.valid"></ion-datetime>                
                    </ion-item>
                    <ion-item class="datetime-item">
                        <ion-label ion-text color="dark" floating>A:</ion-label>                        
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [pickerOptions]="pickerOpts" formControlName="aHora" type="text" color="secondary"  [class.invalid]="!slideTwoForm.controls.aHora.valid"></ion-datetime>                
                    </ion-item> 
            </ion-item-group>   
            
            <div class="next-prev-buttons custom-center-align">
                <button ion-button icon-left (click)="prev()" class="back-swiper" type="button"><ion-icon name="arrow-back"></ion-icon> Atras</button>
                <button ion-button icon-right (click)="next()" class="next-swiper" type="button">Siguiente <ion-icon name="arrow-forward"></ion-icon></button>
            </div>  
            
        </form>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <p *ngIf="!slideThreeForm.valid && slideThreeNext" class="error-global">Quedan campos vacios o invalidos</p>
        <ion-list no-lines>
        <ion-item class="error-global" [hidden]="globalErrorMsg === ''"><p>{{globalErrorMsg}}</p></ion-item>
        <form [formGroup]="slideThreeForm">
            <ion-item class="data-input">
                <ion-label floating>Telefono - Principal:</ion-label>    
                <ion-input formControlName="telPrincipal" type="number"  [class.invalid]="!slideThreeForm.controls.telPrincipal.valid"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideThreeForm.controls.telPrincipal.valid  && (slideThreeForm.controls.telPrincipal.dirty || nextTapped)" class="error-input">
                <p>Favor ingresar un número de telefono valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Telefono - Secundario:</ion-label>
                <ion-input formControlName="telSecundario" type="number"  [class.invalid]="!slideThreeForm.controls.telSecundario.valid"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideThreeForm.controls.telSecundario.valid  && (slideThreeForm.controls.telSecundario.dirty || nextTapped)" class="error-input">
                <p>Favor ingresar un número de telefono valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Telefono - Celular:</ion-label>
                <ion-input formControlName="telCel" type="number"  [class.invalid]="!slideThreeForm.controls.telCel.valid"></ion-input>
            </ion-item> 
            <ion-item *ngIf="!slideThreeForm.controls.telCel.valid  && (slideThreeForm.controls.telCel.dirty || nextTapped)" class="error-input">
                <p>Favor ingresar un número de telefono valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Telefono - Casa:</ion-label>
                <ion-input formControlName="telCasa" type="number"  [class.invalid]="!slideThreeForm.controls.telCasa.valid"></ion-input>
            </ion-item> 
            <ion-item *ngIf="!slideThreeForm.controls.telCasa.valid  && (slideThreeForm.controls.telCasa.dirty || nextTapped)" class="error-input">
                <p>Favor ingresar un número de telefono valido.</p>
            </ion-item>

            <ion-buttons class="next-prev-buttons">
                <button ion-button icon-left (click)="prev()" class="back-swiper" type="button"><ion-icon name="arrow-back"></ion-icon> Atras</button>
                <button ion-button icon-right (click)="next(3)" class="next-swiper" type="button">Siguiente <ion-icon name="arrow-forward"></ion-icon></button>
            </ion-buttons>      
        </form>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <p *ngIf="!slideFourForm.valid && submitAttempt" class="error-global">Quedan campos vacios o invalidos</p>
        <ion-list no-lines>
        <ion-item class="error-global" [hidden]="globalErrorMsg === ''"><p>{{globalErrorMsg}}</p></ion-item>
        <form [formGroup]="slideFourForm" (ngSubmit)="checkValidation()">
 
            <ion-item class="data-input">
                <ion-label floating>Email - Principal</ion-label>
                <ion-input formControlName="emailPrincipal" type="text"  [class.invalid]="!slideFourForm.controls.emailPrincipal.valid"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideFourForm.controls.emailPrincipal.valid  && (slideFourForm.controls.emailPrincipal.dirty || submitAttempt)" class="error-input">
                <p>Favor ingresar un correo valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Email - Secundario</ion-label>
                <ion-input formControlName="emailSecundario" type="text"  [class.invalid]="!slideFourForm.controls.emailSecundario.valid"></ion-input>
            </ion-item>
            <ion-item *ngIf="!slideFourForm.controls.emailSecundario.valid  && (slideFourForm.controls.emailSecundario.dirty || submitAttempt)" class="error-input">
                <p>Favor ingresar un correo valido.</p>
            </ion-item>
    
            <ion-item class="data-input">
                <ion-label floating>Email - Representante</ion-label>
                <ion-input formControlName="emailRepresentante" type="text"  [class.invalid]="!slideFourForm.controls.emailRepresentante.valid"></ion-input>
            </ion-item>  
            <ion-item *ngIf="!slideFourForm.controls.emailRepresentante.valid  && (slideFourForm.controls.emailRepresentante.dirty || submitAttempt)" class="error-input">
                <p>Favor ingresar un correo valido.</p>
            </ion-item>
            <ion-buttons class="next-prev-buttons">
                <button ion-button icon-left (click)="prev()" class="back-swiper" type="button"><ion-icon name="arrow-back"></ion-icon> Atras</button>
                <button ion-button icon-right type="submit" class="next-swiper">Enviar <ion-icon name="send"></ion-icon></button>
            </ion-buttons>      
        </form>
        </ion-list>
      </ion-slide>
      
    </ion-slides>
 
</ion-content> -->