<!--
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="detalle-caso-content">

<ion-grid class="detalle-item">
  <ion-row>
    <ion-col *ngFor="let key of keys" class="{{key.config}}"><b ion-text color="third"> {{key.key}}</b></ion-col> 
  </ion-row>
  <ion-row *ngFor="let row of values; let even = even; let odd = odd;" class="row-style" [ngClass]="{odd: odd, even: even}">    
    <ion-col *ngFor="let column of row"  class="{{column.config}}"><span ion-text color="third" [innerHTML]="column.value"></span></ion-col>
  </ion-row>
 </ion-grid>

</ion-content> -->