table-page{
	#detalle-caso-content ion-card-content{
		padding: 0 !important;
	}

	#detalle-caso-content ion-item-divider{
		box-shadow: 2px 2px 3px #222;
	}

	#detalle-caso-content ion-grid.detalle-item > ion-row, ion-grid.detalle-tracking > ion-row{
		color:map-get($colors, 'menu-text');
	}
}