dashboard-page{
    .dashboard-item{
        width: 28%;
        min-height: 48px;
        float: left;
        margin: 2% 2.5% 2% 2.5%;
        background-color: #ddd;
    }

    .dashboard-item .button-label ion-label{        
        white-space: normal !important;
        overflow: visible !important;
    }

    .dashboard-item .button-label, .dashboard-item .item-inner{
        text-align: center;
        height: 5px;
    }

    .dashboard-item .option-icon{
        font-size:48px;
        min-width: 48px;
        max-width: 128px;
    }

    .dashboard-item .button-label-caption{
        font-size:11px;
    }

    .dashboard-item .option-img-container{    
        min-height:48px;
        width:72px;    
        max-width:128px;
        padding:3px;
        align-items: center;
        display: flex;
    }

    #dashboard-logo{
        width:100%;
        background-color:#fff;
    }
}