<!--<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="dashboard-page-content" class="class2" no-padding>
  
<div class="custom-center-align" id="login-page-logo"><img src="assets/img/brand-logo/menu-header.svg" class="page-header-logo" no-border /></div>

<ion-card *ngFor="let option of options" [@flyInOut]="flyInOutState" class="dashboard-item">  
  
  <div class="custom-center-align class3 option-img-container"><img src="http://192.168.1.120:8090/veocrm/attachdoc/appmenu/veo_07{{option.ImageURL}}" class="option-icon class4 single-content-center"  (click)="optionTapped($event, option)"/></div>

  <button ion-item color="secondary" (click)="optionTapped($event, option)" class="button-label class5">

    <span ion-text class="button-label-caption class5" [innerHTML]="option.Titulo"></span>
    
  </button>

</ion-card>
</ion-content>-->