<!--<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{templateTitle || 'Panelitos'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="class7">
  <div id="graphs-container">
  </div>
</ion-content>-->
