table-form-page{
     .ion-slides-conf{
        height: auto;
    }
 
    .swiper-slide {
        margin-top:0px;
    }

    .swiper-wrapper{
        padding-bottom:40px;
    }
    
    .close-modal-btn{
        float: right;
    }
}