<!--<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{templateTitle || 'Panelitos'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="table-form-content" class="class6" padding-top>
    <ion-slides #infoSlider (ionSlideWillChange)="slideWillChange($event, swiper)"  class="ion-slides-conf" pager>
        <ion-slide [hidden]="showCards" *ngFor="let slide of values">
                <ion-card class="detalle-item">
                    <ion-grid>
                    <ion-row *ngFor="let row of slide | keys; let odd = odd; let even = even;" [ngClass]="{odd: odd, even: even}" class="row-style">
                        <ion-col class="{{colHeaderClass +' col-header'}}"><b ion-text> {{row.key}}</b></ion-col>  
                        <ion-col class="col-style"><span ion-text [innerHTML]="row.value"></span></ion-col>
                    </ion-row>
                    </ion-grid>
                </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>-->
