login-page {

    .item-input.input-has-focus .item-inner {
        border-bottom-color: map-get($colors, 'secondary') !important;
        box-shadow: inset 0 -1px 0 0 map-get($colors, 'secondary') !important;
    }

    .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
        border-bottom-color: map-get($colors, 'success-color') !important;
        box-shadow: inset 0 -1px 0 0 map-get($colors, 'success-color') !important;
    }

    .alert-box{
        padding: 15px;
        margin-bottom: 20px;
        color:#a94442;
        background-color:#f2dede;
        border-color: #ebccd1;
        margin-left:16px;
    }

    #login-page-logo{
        width:100%;
        background-color: white;
    }
}
