<!--
<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="login-page-content">
    
    <div class="custom-center-align" id="login-page-logo">
      <img src="assets/img/brand-logo/menu-header.svg" class="page-header-logo" no-border />
    </div>

        <div class="spacer" style="width: 283px; height: 50px;"></div>        
        
        <button ion-button color="facebook-bg" nav-clear menu-close type="button" full ion-button (click)="loginWithFb()">Inicia Sesión con Facebook <ion-icon name="facebook" color="white"></ion-icon></button>

</ion-content>-->