// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

//$text-color:        #000;
//$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:(
  	base: #314079,
  	contrast: #fff
  ),
  primary-color: #314079,
  secondary:  #FC9327,
  third:      #292e35,
  success-color: #32db64,
  primary-activated: #d8d2d2,
  secondary-activated: #022a53,  
  paquete-item-color:    #f5f5f5,
  item-border: #dddddd,
  grey-border: #f6f6f6,
  grey-color: #777575,
  empty-state-color: #777575,
  white:      #333333,
  dark:       #222,
  danger:     #f53d3d,
  light:      #f4f4f4,
  favorite:   #69BB7B,
  text:    #666666,
  facebook-bg:  #4267b2  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
$item-md-divider-background: map-get($colors, 'primary-color');
$item-ios-divider-background: map-get($colors, 'primary-color');
$item-md-divider-color: #fff;
$item-ios-divider-color: #fff; 
$refresher-icon-color: map-get($colors , 'secondary');
$refresher-text-color: map-get($colors , 'secondary');

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
