// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*{
  font-family: IntroRegular,"Trebuchet MS",Arial,Helvetica,sans-serif;
}

.menu-header-bg-img{
  background:url('../assets/img/brand-logo/menu-header.png') center/90% no-repeat;
  min-height: 110px;
  max-height:200px;
}

.menu-header{  
  background-color: #fff;
}

.menu-button > button.item.activated{
  background-color: map-get($colors, "primary-activated"); 
}

.menu-button .item .item-inner {
    border-bottom: none !important;
}

.side-menu-style{
  height: calc(100% - 53px);
  margin-bottom:0;
}

.side-menu-style .item-block:last-child{
  border-bottom:none !important;
}

.side-menu-bg-primary{
  background-color: map-get($colors, 'primary-color');
}

.side-menu-bg-secondary{
  background-color: map-get($colors, 'secondary');
}

.side-menu-bg-dark{
  background-color: map-get($colors, 'third');
}

.user-preview{
  width:100%;
  height:50px;
  background-color: map-get($colors , 'primary-color');
  color: #fff;
  font-size:16px !important;
  opacity: 0.8;
  padding: 18px 5px 18px 5px;
  box-shadow: 2px 3px 3px #fff;
  display: flex;
  align-items: center;
}

.hostseven-sign{
  background-color: #f5f5f5;
  font-size: 10px;
  line-height: 1px;
  box-shadow:1px 1px 2px #888;
}

.item.call{
  font-size: 12px !important;
  height: 25px !important;
  min-height: 20px !important;
}

.call .activated{
  color: map-get($colors, 'primary-activated');
}

.page-header-logo{
  max-width: 375px;
  width:100%;
}

.custom-center-align{
  margin: auto;
  text-align: center;
  -webkit-align-content: center;
  align-content: center;
}

.flex-center{  
  display: flex;
  align-items: center;
}

.single-content-center{
	display:block;
	margin-left: auto;
	margin-right: auto;
  display: flex;
  align-items: center;  
}

// Estilos custom para items de paquetes

.custom-item, .custom-item .input-wrapper{
  //background-color: #f5f5f5;  
  border-bottom: 1px solid #D6D3D3;
  height: 74px;
}

.custom-item{
  padding-left:0px;
  padding-right:10px;
}

.custom-item ion-label{
  margin: 0px 0px 0px 0 !important;
}

.custom-item p{
  font-size: 1.2rem !important;
}

.custom-item img{
  width: 32px !important;
}

.ion-alert{
  color: map-get($colors , 'danger');
  h3 {
    color: #333;
  }
  button.alert-button {
    background-color: map-get($colors , 'danger');
    //color: map-get($colors, 'dark');
  }
}
    
ion-alert.select-alert{
color: map-get($colors , 'dark');
h3 {
    color: #333;
}
button.alert-button {
    background-color: map-get($colors , 'dark');
}
}

/* --------------------------------------- Call Styles --------------------------------------- */
.detalle-item .jl{
    	text-align: left;
  	}

.row-header{
  font-weight: bold;
}

.col-header{
  text-align: left;
}

.detalle-item .jr{
  text-align: right;
}

.detalle-item .jc{
  text-align: center;
}

.detalle-item .nw{
  white-space: nowrap;
  overflow: hidden;		
  text-overflow: ellipsis;
}

.detalle-item .nww{
  white-space: nowrap;
  width:1px;
}

.detalle-item .s2{
  display: none;
}

.detalle-item .s3{
  display: none;
}

@media screen and (min-width: 480px) {
  .detalle-item .s2{    
      display: block;
    }

  .detalle-item .s2{
      display: block;
    }
}

	@media screen and (min-width: 720px) {
		.detalle-item .s3{
				display: block;
			}

		.detalle-item .s3{
				display: block;
			}
	}

