<!--LoggedOut Menu -->
<ion-menu id="logged-out-menu" [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">

  <!-- <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar> -->

  <ion-content>
    <ion-list class="menu-button side-menu-bg-primary side-menu-style class0">
    <div class="custom-center-align">
    <div class="menu-header-bg-img menu-header"></div>      
    </div>
    <ion-item no-margin class="call menu-header" color="white" text-right><ion-icon name="call" color="primary"></ion-icon> <a ion-text href="tel:+1000-000-0000" style="text-decoration:none;" color="primary">(000)000 0000</a></ion-item>
    <div class="user-preview class11">
      <span text-left>Panelitos</span>
    </div>
      <button menuClose ion-item *ngFor="let p of appPages" (click)="openPage(p)" color="primary" class="class1">
      <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>      
    </ion-list>
    <div class="hostseven-sign">
      <ion-row>
      <ion-col text-center>
        <p ion-text color="third">Software VeoCRM</p>
        <p ion-text color="third">Version: {{appVersion}} V1</p>
        <p ion-text color="third">HostSeven, SRL. <a href="tel:+1809-537-2600" ion-text color="secondary" style="text-decoration:none;">809-537-2600</a></p>
      </ion-col>
      <ion-col>
      <img src="assets/img/veo-courier-logo/logo.png" width="32px" style="float:right;" />
      </ion-col>
      </ion-row>
      </div>
  </ion-content>

</ion-menu>

<!-- loggedIn Menu -->

<ion-menu id="logged-in-menu" [content]="content"  (ionOpen)="menuOpened()" (ionClose)="menuClosed()">

  <!-- <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar> -->

  <ion-content class="side-menu-bg">
    <ion-list class="menu-button side-menu-bg-primary side-menu-style class0">
    <div class="custom-center-align">
    <div class="menu-header-bg-img menu-header"></div>      
    </div>
    <ion-item no-margin class="call menu-header" color="white" text-right><ion-icon name="call" color="primary"></ion-icon> <a ion-text href="tel:+1000-000-0000" style="text-decoration:none;" color="primary">(000)000 0000</a></ion-item>
    <div class="user-preview">
      <ion-row>
      <ion-col text-left no-padding>
      <label text-capitalize>{{client.name}}</label>
      </ion-col> 
      <!--<ion-col text-right no-padding>
      <label>{{client.username}}</label>
      </ion-col>-->
      </ion-row>
    </div>
      <button menuClose ion-item *ngFor="let p of loggedInPages" (click)="openPage(p)" class="class1" color="primary">
      <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>      
    </ion-list>
    <div class="hostseven-sign">
      <ion-row>
      <ion-col text-center>
        <p ion-text color="third">Software VeoCRM</p>
        <p ion-text color="third">Version: {{appVersion}} V1</p>
        <p ion-text color="third">HostSeven, SRL. <a href="tel:+1809-537-2600" ion-text color="secondary" style="text-decoration:none;">809-537-2600</a></p>
      </ion-col>
      <ion-col>
      <img src="assets/img/veo-courier-logo/logo.png" width="32px" style="float:right;" />
      </ion-col>
      </ion-row>
      </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
</ion-nav>