page-create-account {
    .data-input ion-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }

    .data-input ion-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }

    .data-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{  
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }

    .data-input.input-has-focus .item-inner{  
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }

    .alert-box{
        padding: 15px;
        margin-bottom: 20px;
        color:#a94442;
        background-color:#f2dede;
        border-color: #ebccd1;
        margin-left:16px;
    }

    .error-input{
        width: 100%;
        margin-bottom: 20px;
        color:#a94442;
        border-left-color: #ebccd1;
        margin:0px 16px 0px 16px !important;
    }

    .error-global{
        width: 100%;
        margin-top: 15px;
        color:#a94442;
        background-color:#f2dede;
        border-left-color: #ebccd1;
        text-align:center;
    }    

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .ion-slides-conf{
        height: auto;
    }
 
    .swiper-slide {
        padding-top:60px;
    }

    ion-item{
        border-bottom: none;
    }

    ion-label, .select-text {
        margin-left: 10px;
    }

    ion-input, ion-select, ion-textarea {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

    .invalid, ion-select.ng-invalid, ion-datetime.ng-invalid  {
        border-left: 2px solid #ea6153;
    }

    ion-input.ng-valid, ion-select.ng-valid, ion-datetime.ng-valid{
        border-left: 2px solid map-get($colors, 'success-color') 
    }

    .picker-opt-style .picker-opt-selected{
        font-weight: bold;
    }

    ion-picker-cmp .picker-wrapper {
        background-color: #ddd;
        font-weight: bold;
    }

    body > ion-app > ion-picker-cmp > div > div.picker-columns > div:nth-child(3) > div > button.picker-opt.picker-opt-selected{
        font-weight: bold;
    }

    .swiper-pagination-progressbar, .swiper-pagination-bullet{
        background: map-get($colors, 'success-color') !important;
    }

    .data-input .label{
        margin-left: 5px;
    }

    .data-input ion-input{
        border-radius: 2px;
    }

    .datetime-item{
        width:50%;
        float:left;            
    }

    .datetime-item-group{
        min-height:130px;
        border-top: 1px solid map-get($colors , 'item-border');
    }

    .datetime-item .input-wrapper{
        //background-color: #f5f5f5;  
        //border-bottom: 1px solid #D6D3D3;
        height: 50px;
        min-height: 50px;
    }

    .datetime-item .label, .datetime-item .datetime{
        text-align: center;
    }

    .next-prev-buttons{
        padding-top:5px;
    }

    /*.phone-group .phone-code, .phone-group .phone-input{
        float:left;
    }

    .phone-code{
        width: 30%;
        height: 55px;
    }

    .phone-code .select{
        max-width:100%;
    }

    .phone-input{
        width: 70%;
    }*/
}
